/* src/pages/AboutPage.css */
.about-page {
  font-family: 'Inter', sans-serif;
  color: #1f2937;
  line-height: 1.6;
}
/* hero section */
.about-page .hero {
      background: url('/public/assets/hero/about-hero.jpg') center/cover no-repeat;
}
/* Mission Section */
.about-mission {
  padding: 60px 20px;
  background-color: #f9fafb;
  text-align: center;
}
.about-mission h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #111827;
}
.about-mission p {
  font-size: 1.1rem;
  margin: 0 auto;
}
/* Services Section */
.services {
  text-align: center;
 
  margin: 0 auto;
}
.services h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #111827;
}

