.resume-headshot img {
  width:180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
  margin: 2rem auto !important;
}
.mainDetails {
  display: flex;
  align-items: center;
  gap: 2rem;
  flex-direction: column;
  text-align: center;
  margin-bottom: 2rem;
 
}