.contact-form-container {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}

.contact-form-container input,
.contact-form-container textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
}


.success-message {
  color: green;
  margin-bottom: 15px;
}