
.hero {
  position: relative; /* Needed for pseudo-element positioning */
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  padding: 120px 20px;
  overflow: hidden;
}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(238, 241, 243, 0.8); /* Semi-transparent overlay */
  z-index: 1;
  transition: background-color 0.3s ease;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 10px;
   color: #e63946;

}
.hero h4 {
  font-size: 1.8rem;
  margin-bottom: 10px;
   color: #e63946;

}

.hero p {
  font-size: 1.3rem;
  margin-bottom: 20px;
    color: #e63946;
    font-weight: bolder !important;

}

.hero-btn {
  background-color: #e63946;
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 30px;
  cursor: pointer;
  font-size: 1rem;
  transition: 0.3s;
}

.hero-btn:hover {
  background-color: #d62828;
  text-decoration: none !important;
  color: wheat;
}

.hero-content {
  position: relative; /* so content is above overlay */
  z-index: 1;
}