
.hero {
  position: relative; /* Needed for pseudo-element positioning */
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  padding: 120px 20px 20px;
  overflow: hidden;
}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(238, 241, 243, 0.8); /* Semi-transparent overlay */
  z-index: 1;
  transition: background-color 0.3s ease;
}

.hero-content {
  position: relative; /* so content is above overlay */
  z-index: 1;
}


.affiliates {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  flex-wrap: wrap;
}

.aff-logo-img {
  transition: all 0.3s ease;

}

.aff-logo-img:hover {
  opacity: 1;
  transform: scale(1.05);
}
.aff-logo-img {
  width: 100px;
  max-height: 60px;
  filter: grayscale(100%) brightness(0.4);
}