/* src/components/MasonryGrid.css */
.my-masonry-grid {
  display: flex;
  margin-left: -20px;
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 20px;
  background-clip: padding-box;
}

/* optional spacing between items */
.my-masonry-grid_column > div {
  margin-bottom: 20px;
}

